<ion-header>
  <app-header [title]="'NAV_BEANS' | translate">
    <ion-menu-button header-slot="start" />
    <app-header-button header-slot="end" icon="beanconqueror-list-add" (clicked)="openImportMenu()" />
    <app-header-button header-slot="end" icon="beanconqueror-add" (clicked)="longPressAdd($event)" />
  </app-header>
</ion-header>
<ion-content #beanContent>

  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="bean_segment" class="ion-padding-vertical tabs">
    <ion-segment-button value="open">
      <ion-label>
        {{"PAGE_BEANS_LIST_OBTAINABLE" | translate}}
        <br />
        @if (openBeans?.length !== openBeansLength) {
        <span class="value">
          ( {{ openBeans?.length }} / {{ openBeansLength }} )
        </span>
        } @else {
        <span class="value">( {{ openBeansLength }} )</span>
        }
      </ion-label>
    </ion-segment-button>
    @if (settings?.freeze_coffee_beans) {
    <ion-segment-button value="frozen">
      <ion-label>
        {{"FROZEN_BEANS" | translate}}
        <br />
        @if (frozenBeans?.length !== frozenBeansLength) {
        <span class="value">
          ( {{ frozenBeans?.length }} / {{ frozenBeansLength }} )
        </span>
        } @else {
        <span class="value">( {{ frozenBeansLength }} )</span>
        }
      </ion-label>
    </ion-segment-button>
    }
    @if (settings?.show_archived_beans) {
    <ion-segment-button value="archive">
      <ion-label>
        {{"TAB_ARCHIVE" | translate}}
        <br />
        @if (finishedBeans?.length !== finishedBeansLength) {
        <span class="value">
          ( {{ finishedBeans?.length }} / {{ finishedBeansLength }} )
        </span>
        } @else {
        <span class="value">( {{ finishedBeansLength }} )</span>
        }
      </ion-label>
    </ion-segment-button>
    }
  </ion-segment>
  @switch (bean_segment) {
  @case ('open') {
  <div class="ion-padding-horizontal ion-padding-bottom">
    <ion-segment [(ngModel)]="quickOpenFilter" (ionChange)="quickFilterChanged()" class="quick-filter-segment">
      <ion-segment-button value="all"><ion-label>All</ion-label></ion-segment-button>
      <ion-segment-button value="favorites"><ion-label>Favorites</ion-label></ion-segment-button>
      <ion-segment-button value="recent"><ion-label>Recent</ion-label></ion-segment-button>
      <ion-segment-button value="low"><ion-label>Running Low</ion-label></ion-segment-button>
    </ion-segment>
    <div class="actions-row ion-padding-top">
      <ion-button fill="outline" size="small" (click)="longPressAdd($event)">Add Bean</ion-button>
      <ion-button fill="outline" size="small" (click)="openImportMenu()">Import</ion-button>
      <ion-button fill="outline" size="small" (click)="scanBean()">Scan</ion-button>
      <ion-button
        [fill]="uiIsCollapseActive ? 'solid' : 'outline'"
        size="small"
        (click)="toggleCollapseBeans()"
      >
        Compact
      </ion-button>
      <ion-button [fill]="selectionMode ? 'solid' : 'outline'" size="small" (click)="toggleSelectionMode()">
        Select
      </ion-button>
    </div>
    <div class="density-row ion-padding-top">
      <ion-segment [(ngModel)]="compactDensity" (ionChange)="densityChanged()">
        <ion-segment-button value="comfortable"><ion-label>Comfort</ion-label></ion-segment-button>
        <ion-segment-button value="compact"><ion-label>Compact</ion-label></ion-segment-button>
        <ion-segment-button value="ultra"><ion-label>Ultra</ion-label></ion-segment-button>
      </ion-segment>
      <ion-searchbar
        class="threshold-input"
        type="number"
        inputmode="numeric"
        debounce="300"
        placeholder="Low g threshold"
        [(ngModel)]="lowBeanThreshold"
        (ionChange)="thresholdChanged()"
      ></ion-searchbar>
    </div>
    <div class="bulk-row ion-padding-top">
      @if (selectionMode) {
      <div class="selection-meta">{{ getSelectedCount() }} selected</div>
      <ion-button fill="outline" size="small" (click)="clearSelection()">Clear</ion-button>
      }
      <ion-button fill="outline" size="small" color="warning" (click)="bulkFavoriteVisible()">Favorite</ion-button>
      <ion-button fill="outline" size="small" color="medium" (click)="bulkFreezeVisible()">Freeze</ion-button>
      <ion-button fill="outline" size="small" color="danger" (click)="bulkArchiveVisible()">Archive</ion-button>
    </div>
  </div>
  @if (openBeans?.length > 0 || uiShallBarBeDisplayed || uiIsTextSearchActive || uiIsFilterActive || uiIsSortActive) {
  <div class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">
    <ng-container [ngTemplateOutlet]="beanSearchToolbar"></ng-container>
  </div>
  }
  @if (loadingBeans) {
  <div class="ion-padding-horizontal">
    <ion-skeleton-text animated style="width:100%;height:72px"></ion-skeleton-text>
    <ion-skeleton-text animated style="width:100%;height:72px"></ion-skeleton-text>
    <ion-skeleton-text animated style="width:100%;height:72px"></ion-skeleton-text>
  </div>
  } @else if (openBeans.length == 0) {
  <div class="ion-padding ion-text-center">
    <div>
      <ion-icon color="inactive" name="beanconqueror-beans" size="large"></ion-icon>
    </div>
    <div class="text-color-inactive ion-margin-top">
      {{"PAGE_BEANS_LIST_YOU_GOT_NO_FRESH_BEANS" | translate}}
    </div>
  </div>
  }
  <ag-virtual-scroll #openScroll [items]="openBeans" [height]="'100vh'" [min-row-height]="getRowHeight()">
    @for (item of openScroll.items; track item) {
    @if (item['beans']) {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-group-' + item['frozenGroupId']" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item['beans'][0]"
      [beanGroup]="item"></bean-information>
    } @else {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-' + item['config'].uuid" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item"></bean-information>
    }
    }
  </ag-virtual-scroll>
  }
  @case ('frozen') {
  @if (settings?.freeze_coffee_beans) {
  @if (frozenBeans?.length > 0 || uiShallBarBeDisplayed || uiIsTextSearchActive || uiIsFilterActive || uiIsSortActive) {
  <div class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">
    <ng-container [ngTemplateOutlet]="beanSearchToolbar"></ng-container>
  </div>
  }
  @if (frozenBeans.length == 0) {
  <div class="ion-padding ion-text-center">
    <div>
      <ion-icon color="inactive" name="beanconqueror-beans" size="large"></ion-icon>
    </div>
    <div class="text-color-inactive ion-margin-top">
      {{"PAGE_BEANS_LIST_YOU_GOT_NO_FROZEN_BEANS" | translate}}
    </div>
  </div>
  }
  <ag-virtual-scroll #frozenScroll [items]="frozenBeans" [height]="'100vh'"
    [min-row-height]="getRowHeight()">
    @for (item of frozenScroll.items; track item) {
    @if (item['beans']) {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-group-' + item['frozenGroupId']" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item['beans'][0]"
      [beanGroup]="item"></bean-information>
    } @else {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-' + item['config'].uuid" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item"></bean-information>
    }
    }
  </ag-virtual-scroll>
  }
  }
  @case ('archive') {
  @if (settings?.show_archived_beans) {
  @if (finishedBeans?.length > 0 || uiShallBarBeDisplayed || uiIsTextSearchActive || uiIsFilterActive || uiIsSortActive)
  {
  <div class="ion-justify-content-end container" style="margin-left:10px;margin-right:10px;margin-bottom:20px;">
    <ng-container [ngTemplateOutlet]="beanSearchToolbar"></ng-container>
  </div>
  }
  @if (finishedBeans.length == 0) {
  <div class="ion-padding ion-text-center">
    <div>
      <ion-icon color="inactive" name="beanconqueror-beans" size="large"></ion-icon>
    </div>
    <div class="text-color-inactive ion-margin-top">
      {{"PAGE_BEANS_LIST_YOU_GOT_NO_FINISHED_BEANS" | translate}}
    </div>
  </div>
  }
  <ag-virtual-scroll #archivedScroll [items]="finishedBeans" [height]="'100vh'"
    [min-row-height]="getRowHeight()">
    @for (item of archivedScroll.items; track item) {
    @if (item['beans']) {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-group-' + item['frozenGroupId']" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item['beans'][0]"
      [beanGroup]="item"></bean-information>
    } @else {
    @if (selectionMode) {
    <div class="selection-row">
      <ion-checkbox
        [checked]="isSelected(item)"
        (ionChange)="toggleSelected(item, $event.detail.checked)"
      ></ion-checkbox>
    </div>
    }
    <bean-information [id]="'bean-' + item['config'].uuid" [collapsed]='uiIsCollapseActive' (beanAction)="beanAction($event)" [bean]="item"></bean-information>
    }
    }
  </ag-virtual-scroll>
  }
  }
  }

</ion-content>

<ng-template #beanSearchToolbar>
  <ion-searchbar (ionChange)="research()" (ionInput)='research()' [(ngModel)]="uiSearchText"
    class="ion-no-padding ion-no-margin" debounce="750" placeholder="{{'SEARCH' | translate}}"
    search-icon="beanconqueror-detail" showCancelButton="never"></ion-searchbar>
  <ion-button (click)="showFilter()" fill="clear" size="small" tappable>
    @if (uiIsFilterActive) {
    <ion-icon name="beanconqueror-filter-active" slot="icon-only"></ion-icon>
    } @else {
    <ion-icon name="beanconqueror-filter-inactive" slot="icon-only"></ion-icon>
    }
  </ion-button>
  <ion-button (click)="showSort()" fill="clear" size="small" tappable>
    @if (uiIsSortActive) {
    <ion-icon name="beanconqueror-sort-active" slot="icon-only"></ion-icon>
    } @else {
    <ion-icon name="beanconqueror-sort-inactive" slot="icon-only"></ion-icon>
    }
  </ion-button>
  <ion-button (click)="toggleCollapseBeans()" fill="clear" size="small" tappable>
    @if (uiIsCollapseActive) {
    <ion-icon name="beanconqueror-expand-active" slot="icon-only"></ion-icon>
    } @else {
    <ion-icon name="beanconqueror-expand-inactive" slot="icon-only"></ion-icon>
    }
  </ion-button>
</ng-template>
